#Dir
.vs/
.vscode/
.idea/
Build/
cmake-build-*/
MakefilesBuild/
build/
bin/
bin-int/
out/
*.tlog/

#files
*.user
*.vcxproj.filters
*.vcxproj.user
*.suo
*.pdb
*.idb
*.ilk
*.log
*.obj
*.exp
*.lib
*.dll
*.exe
*.sln

lab1requirements.pdf

/Handins